/* GENERAL PAGE STYLING - GENERAL PAGE STYLING - GENERAL PAGE STYLING - GENERAL PAGE STYLING */
/* GENERAL PAGE STYLING - GENERAL PAGE STYLING - GENERAL PAGE STYLING - GENERAL PAGE STYLING */

body {
    font-family: 'Quicksand', sans-serif;
    background-color: #dad7cd;}
p {color: #223843;}


h1 {
    font-family: 'Grand Hotel', cursive;
    font-size: 275%;
    margin-left: 50px;
    color: #eff1f3;}
h2 {
    font-family: 'Quicksand', sans-serif;
    font-size: 250%;}
footer h2 {font-family: 'Grand Hotel', cursive;}
h3 {
    font-family: 'Grand Hotel', cursive;
    font-size: 200%;
    color: #223843;}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 25px;
    background-color: #344e41;}
header h1 {flex: 1;}
header .navbox {flex: 1;}
.navbox, .navbox a{
    color: #eff1f3;
    font-weight: bold;}
.navbox {
    display: flex;
    border: 2px solid #eff1f3;
    border-radius: 25px;
    padding: 15px;
    margin-right: 25px;
    display: flex;
    justify-content: space-between;}
.navbox nav {
    display: flex;
    justify-content: space-around;
    flex: 4;
    margin-right: 75px;}
.navbox .nav_account {
    display: flex;
    flex: 1;
    justify-content: end;
    justify-content: space-between;}

.TABLETnavbox {
    color: #eff1f3;
    display: flex;
    border-radius: 15px;
    padding: 15px;
    justify-content: space-evenly;
    font-size: 130%;}
.TABLETnavbox a {color: #eff1f3;}

.MOBILEnavbox {
    display: flex;
    border-radius: 25px;
    padding: 15px;
    margin-right: 25px;
    display: flex;
    justify-content: space-evenly;}
.MOBILEnavbox, .MOBILEnavbox a{
    color: #eff1f3;
    font-weight: bold;
    font-size: 100%;}
#hamicon {
    display: none;
    width:40px;}  

footer {
    display: flex;
    background-color: #344e41;
    margin-top: 20px;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    clear: both;}
.footer_titlecopyright {
    text-align: center;
    color: #eff1f3;
    flex: 2;}
.footer_titlecopyright h2 {
    color: #eff1f3;
    margin-top: 0px;
    margin-bottom: 0px;}
.footer_titlecopyright p {
    margin-top: 5px;
    color: #eff1f3;}
.footer_contactus {
    flex: 2;
    border: 2px solid #eff1f3;;
    padding: 15px;}
.footer_contactus h3 {
    color: #eff1f3;
    margin-top: 0px;
    margin-bottom: 0px;}
.footer_contactus p {
    color: #eff1f3;
    margin-top: 0px;
    margin-bottom: 5px;}
.footer_navigation1 {
    color: #eff1f3;
    text-align: right;
    margin-right: 25px;
    flex: 1;}
.footer_navigation2 {
    border-left: 2px solid #eff1f3;
    padding-left: 25px;
    flex: 1;}
.footer_navigation2 p, .footer_navigation2 a {color: #eff1f3;}
.footer_navigation2 a {font-size: 50%;}
footer h2, footer h3 {color: #eff1f3;;}



/* TABLET - TABLET - TABLET - TABLET - TABLET - TABLET - TABLET */
/* TABLET - TABLET - TABLET - TABLET - TABLET - TABLET - TABLET */

@media only screen and (min-width: 800px) { .MOBILEnavbox           {   display: none;}}
@media only screen and (min-width: 800px) { .TABLETnavbox           {   display: none;}}

@media only screen and (max-width: 800px) { .navbox                 {   display: none;}}
@media only screen and (max-width: 800px) { .MOBILEnavbox           {   display: none;}}


@media only screen and (max-width: 800px) { h1                      {   flex: 1;}}
@media only screen and (max-width: 800px) { .TABLETnavbox           {   flex: 1;}}



/* MOBILE - MOBILE - MOBILE - MOBILE - MOBILE - MOBILE - MOBILE */
/* MOBILE - MOBILE - MOBILE - MOBILE - MOBILE - MOBILE - MOBILE */

@media only screen and (max-width: 600px) { .navbox                 {   display: none;}}
@media only screen and (max-width: 600px) { .TABLETnavbox           {   display: none;}}
@media only screen and (max-width: 600px) { .MOBILEnavbox           {   display: block;
                                                                        padding-top: 5px;  
                                                                        padding-bottom: 5px;   
                                                                        padding-left: 5px;  
                                                                        padding-right: 5px;    
                                                                        border-radius: 0px; 
                                                                        text-align: end;}}
@media only screen and (max-width: 600px) { header h1               {   font-size: 200%;   
                                                                        margin-left: 0px;   
                                                                        margin-right: 15px;}}
@media only screen and (max-width: 600px) { .navbox .nav_account    {   display: none;}}
@media only screen and (max-width: 600px) { .navbox nav             {   display: flex;     
                                                                        font-size: 50%;     
                                                                        justify-content: space-evenly;}}
@media only screen and (max-width: 600px) { footer                  {   display: flex;     
                                                                        flex-wrap: wrap;    
                                                                        padding-left: 35px;    
                                                                        padding-right: 35px;}}
@media only screen and (max-width: 600px) { .footer_titlecopyright  {   margin-right: 15px;}}
@media only screen and (max-width: 600px) { .footer_contactus       {   padding: 15px;    
                                                                        border: 2px solid #eff1f3;}}



                                                                

/* HOME PAGE STYLING - HOME PAGE STYLING - HOME PAGE STYLING - HOME PAGE STYLING */
/* HOME PAGE STYLING - HOME PAGE STYLING - HOME PAGE STYLING - HOME PAGE STYLING */


.weeklytrioheader {
    font-family: 'Grand Hotel', cursive;
    color: #223843;
    background-color: #dad7cd;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 300%;
    position: absolute;
    margin-top: -35px;}

.meetthefounderheader {
    font-family: 'Grand Hotel', cursive;
    color: #588157;
    background-color: #dad7cd;
    padding-left: 15px;
    padding-right: 15px;
    font-size: 300%;
    position: absolute;
    margin-top: -570px;}

.trio_breakfast, .trio_lunch, .trio_dinner {
    border: 5px solid #aab6a5;
    border-radius: 25px;
    padding: 20px;
    align-items: center;
    text-align: center;
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 35px;
    margin-bottom: 35px;
    background-color: #eff1f3;}

.trio_breakfast h3, .trio_lunch h3, .trio_dinner h3 {
    margin-top: 10px;
    margin-bottom: 10px;}

.weeklytriosection {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    position: relative;
    border: 7px solid #223843;
    border-radius: 15px;
    margin-top: 50px;
    margin-left: 75px;
    margin-right: 75px;
    margin-bottom: 75px;}

.weeklytriosection a {color: #223843;}

.meetthefoundersection {
    display: flex;
    border: 7px solid #588157;
    border-radius: 25px;
    padding: 40px;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    margin-left: 75px;
    margin-right: 75px;
    margin-bottom: 50px;
    background-color: #dad7cd;
    font-size: 115%;
    position: relative;}

.meetthefoundersection img {
    border-radius: 25px;
    margin-left: 30px;}

.trio_breakfast, .trio_lunch, .trio_dinner {
    text-align: center;}


/* TABLET - TABLET - TABLET - TABLET - TABLET - TABLET - TABLET */
/* TABLET - TABLET - TABLET - TABLET - TABLET - TABLET - TABLET */

@media only screen and (max-width: 800px) { .weeklytriosection, .meetthefoundersection  {   margin-left: 5px;
                                                                                            margin-right: 5px;}}
@media only screen and (max-width: 800px) { .trio_breakfast img, .trio_lunch img, .trio_dinner img, .meetthefoundersection img  
                                                                                        {   width: 250px;}}
@media only screen and (max-width: 800px) { .trio_breakfast, .trio_lunch, .trio_dinner  {   margin-left: 5px;
                                                                                            margin-right: 5px;}}

@media only screen and (max-width: 800px) { .trio_breakfast, .trio_lunch                {   margin-bottom: 5px;}}
@media only screen and (max-width: 800px) { .trio_dinner                                {   margin-top: 5px;}}
@media only screen and (max-width: 800px) { .meetthefounderheader                       {   margin-top: -700px;}}


/* MOBILE - MOBILE - MOBILE - MOBILE - MOBILE - MOBILE - MOBILE */
/* MOBILE - MOBILE - MOBILE - MOBILE - MOBILE - MOBILE - MOBILE */

@media only screen and (max-width: 600px) { .weeklytriosection                          {   flex-wrap: wrap;
                                                                                            margin-left: 5px;
                                                                                            margin-right: 5px;}}
@media only screen and (max-width: 600px) { .trio_breakfast, .trio_lunch, .trio_dinner  {   margin-bottom: 10px;}}
@media only screen and (max-width: 600px) { .trio_lunch, .trio_dinner                   {   margin-top: 5px;}}
@media only screen and (max-width: 600px) { .meetthefoundersection                      {   flex-wrap: wrap;
                                                                                            margin-left: 5px;
                                                                                            margin-right: 5px;}}
@media only screen and (max-width: 600px) { .meetthefounderheader                       {   margin-top: -1325px;}}
@media only screen and (max-width: 600px) { .meetthefoundersection img                  {   width: 100%;
                                                                                            margin-left: 0px;}}

                                                                                    



/* RECIPEBOX PAGE STYLING - RECIPEBOX PAGE STYLING - RECIPEBOX PAGE STYLING - RECIPEBOX PAGE STYLING */
/* RECIPEBOX PAGE STYLING - RECIPEBOX PAGE STYLING - RECIPEBOX PAGE STYLING - RECIPEBOX PAGE STYLING */

.recipeboxheader {
    float: right;
    text-align: end;
    margin-right: 100px;
    margin-top: 25px;
    margin-bottom: 0px;}

.recipebox_mealtabs {
    clear: both;
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;}
.recipebox_mealtabs input[type="radio"] {
    display: none;}
.recipebox_mealtabs label {
    cursor: pointer;
    padding: 15px;
    background-color: #cad2c5;
    border-radius: 0px 15px 0px 0px;}
.recipebox_mealtabs .tab {
    width: 175%;
    padding: 15px;
    background-color: #84a98c;
    border-radius: 0px 15px 15px 15px;
    margin-bottom: 25px;
    order: 1;
    display: none;}
.recipebox_mealtabs input[type='radio']:checked + label + .tab {
    display: block;}
.recipebox_mealtabs input[type='radio']:checked + label {
    background-color: #84a98c;
    color: #223843}
.recipebox_mealtabs label {
    font-family: 'Grand Hotel', cursive;
    color: #223843;
    font-size: 200%;}

.recipebox_breakfast_row1, .recipebox_breakfast_row2, .recipebox_lunchdinner_row1, .recipebox_lunchdinner_row2 {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;}

.breakfast_row1_1, .breakfast_row1_2, .breakfast_row1_3, .breakfast_row1_4, .breakfast_row2_1, .breakfast_row2_2, .breakfast_row2_3, .lunchdinner_row1_1, .lunchdinner_row1_2, .lunchdinner_row1_3, .lunchdinner_row1_4, .lunchdinner_row2_1, .lunchdinner_row2_2, .lunchdinner_row2_3 {
    border-radius: 15px;
    padding: 20px;
    align-items: center;
    text-align: left;
    background-color: #cad2c5;
    flex-basis: 1;
    margin-left: 10px;
    margin-right: 10px;}

.recipebox_mealtabs h3 {
    margin: 5px;
    font-family: 'Quicksand', sans-serif;
    font-size: 150%;}
.recipebox_mealtabs a {color: #223843;}


/* MOBILE & TABLET - MOBILE & TABLET - MOBILE & TABLET - MOBILE & TABLET - MOBILE & TABLET */
/* MOBILE & TABLET - MOBILE & TABLET - MOBILE & TABLET - MOBILE & TABLET - MOBILE & TABLET */

@media only screen and (max-width: 800px) { .recipeboxheader            {   float: none;
                                                                            text-align: end;
                                                                            margin: 0px;
                                                                            margin-top: 10px;
                                                                            margin-bottom: 10px;
                                                                            margin-right: 15px;
                                                                            display: block;}}
@media only screen and (max-width: 800px) { .recipebox_mealtabs         {   margin-top: 60px;
                                                                            margin-left: 5px;
                                                                            margin-right: 5px;
                                                                            padding: 0px;
                                                                            flex-wrap: none;
                                                                            size: 100%;
                                                                            margin: 0px;}}
@media only screen and (max-width: 800px) { .recipebox_mealtabs .tab    {   margin-left: 5px;
                                                                            margin-right: 5px;
                                                                            width: 100%;}}
@media only screen and (max-width: 800px) { .recipebox_mealtabs label   {   font-size: 200%;
                                                                            margin-left: 5px;}}
@media only screen and (max-width: 600px) { .recipebox_mealtabs label   {   font-size: 150%;
                                                                            margin-left: 5px;}}
@media only screen and (max-width: 800px) { .recipebox_breakfast_row1, .recipebox_breakfast_row2, .recipebox_lunchdinner_row1, .recipebox_lunchdinner_row2 
                                                                        {   flex-wrap: wrap; 
                                                                            margin-left: 5px; 
                                                                            margin-right: 5px; 
                                                                            margin-bottom: 0px; 
                                                                            padding-left: 0px; 
                                                                            padding-right: 0px;}}
@media only screen and (max-width: 800px) { .recipebox_breakfast_row2, .recipebox_lunchdinner_row2 
                                                                        {   margin-top: 0px;}}
@media only screen and (max-width: 800px) { .breakfast_row1_1, .breakfast_row1_2, .breakfast_row1_3, .breakfast_row1_4, .breakfast_row2_1, .breakfast_row2_2, .breakfast_row2_3, .lunchdinner_row1_1, .lunchdinner_row1_2, .lunchdinner_row1_3, .lunchdinner_row1_4, .lunchdinner_row2_1, .lunchdinner_row2_2, .lunchdinner_row2_3 
                                                                        {   margin-left: 5px;
                                                                            margin-right: 5px;
                                                                            justify-content: center;
                                                                            margin-top: 5px;
                                                                            margin-bottom: 5px;
                                                                            display: block;}}



/* TID BITS PAGE STYLING - TID BITS PAGE STYLING - TID BITS PAGE STYLING - TID BITS PAGE STYLING */
/* TID BITS PAGE STYLING - TID BITS PAGE STYLING - TID BITS PAGE STYLING - TID BITS PAGE STYLING */

.tidbitsheader {
    float: right;
    text-align: end;
    margin-right: 100px;
    margin-top: 25px;
    margin-bottom: 0px;}

.articles h2, .videos h2 {
    font-family: 'Grand Hotel', cursive;
    color: #223843;
    font-size: 300%;
    position: absolute;
    background-color: #dad7cd;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: -65px;
    margin-left: 30px;}

.articles h3, .videos h3 {
    font-family: 'Quicksand', sans-serif;
    font-size: 150%;
    margin-bottom: 0px;
    padding-top: 5px;}

.articles {
    position: relative;
    border: 7px solid #223843;
    border-radius: 15px;
    float: left;
    padding: 15px;
    padding-top: 25px;
    margin-top: 100px;
    margin-left: 50px;
    width: 50%;}
.videos {
    position: relative;
    border: 7px solid #223843;
    border-radius: 15px;
    float: right;
    padding: 15px;
    padding-top: 25px;
    margin-top: 100px;
    margin-right: 50px;
    margin-bottom: 25px;}
.articles p {margin: 0px;}
.articles a {color: #223843;}

.article1, .article2, .article3, .article4 {
    height: 223px;
    padding-top: 15px;
    padding-right: 15px;
    padding-left: 15px;}

.article1, .article2, .article3, .article4, .video1, .video2, .video3 {
    clear: both;
    align-items: center;
    background-color: #aab6a5;
    border-radius: 15px;
    margin-bottom: 15px;
    padding-bottom: 25px;}

.article1 img, .article2 img, .article3 img, .article4 img {
    float: left;
    margin-right: 15px;
    margin-bottom: 50px;}

.video1 h3, .video1 p, .video2 h3, .video2 p, .video3 h3, .video3 p {
    padding-left: 15px;}



/* TABLET - TABLET - TABLET - TABLET - TABLET - TABLET - TABLET */
/* TABLET - TABLET - TABLET - TABLET - TABLET - TABLET - TABLET */

@media only screen and (max-width: 800px) { .articles                   {   float: none;
                                                                            width: 90%;
                                                                            margin-left: 15px;
                                                                            margin-right: 0px;
                                                                            justify-content: center;}}

@media only screen and (max-width: 800px) { .videos                     {   float: none;
                                                                            width: 60%;
                                                                            margin-left: 125px;
                                                                            margin-right: 5px;
                                                                            margin-top: 65px;}}

/* MOBILE - MOBILE - MOBILE - MOBILE - MOBILE - MOBILE - MOBILE */
/* MOBILE - MOBILE - MOBILE - MOBILE - MOBILE - MOBILE - MOBILE */

@media only screen and (max-width: 600px) { .tidbitsheader              {   float: none;
                                                                            text-align: end;
                                                                            margin: 0px;
                                                                            margin-top: 10px;
                                                                            margin-bottom: 10px;
                                                                            margin-right: 15px;
                                                                            display: block;}}
@media only screen and (max-width: 600px) { .articles                   {   margin-top: 15px;
                                                                            margin-bottom: 50px;
                                                                            margin-left: 15px;
                                                                            margin-right: 15px;
                                                                            padding: 0px;
                                                                            padding-top: 25px;
                                                                            flex-wrap: none;
                                                                            width: 75%;
                                                                            padding-left: 15px;
                                                                            padding-right: 15px;
                                                                            justify-content: center;}}

@media only screen and (max-width: 600px) { .articles h2                {   margin-top: -65px;}}
@media only screen and (max-width: 600px) { .videos                     {   float: none;
                                                                            clear: both;
                                                                            margin: 0px;
                                                                            margin-top: 0px;
                                                                            margin-left: 15px;
                                                                            margin-right: 15px;
                                                                            width: 75%;}}
@media only screen and (max-width: 600px) { .articles img               {   width: 285px;
                                                                            margin-bottom: 15px;
                                                                            margin-left: -5px;
                                                                            justify-content: center;}}
@media only screen and (max-width: 600px) { .videos iframe              {   width: 300px; height: auto;}}
@media only screen and (max-width: 600px) { .articles h3, .articles p   {   padding-left: 10px;
                                                                            padding-right: 10px;}}                                                                  
@media only screen and (max-width: 600px) { .videos h3                  {   margin-top: 15px;}}
@media only screen and (max-width: 600px) { .videos p                   {   margin-bottom: 0px;}}
@media only screen and (max-width: 600px) { .article1, .article2, .article3, .article4                   
                                                                        {   margin-top: 0px;
                                                                            width: 275px;
                                                                            height: 375px;
                                                                            padding-top: 0px;
                                                                            padding-left: 5px;
                                                                            padding-right: 5px;
                                                                            margin-left: 5px;
                                                                            margin-right: 5px;
                                                                            justify-content: center;}}
@media only screen and (max-width: 600px) { .article1                   {   margin-top: 25px;}}
@media only screen and (max-width: 600px) { .video1, .video2, .video3   {   width: 300px;}}                                                                            
@media only screen and (max-width: 600px) { .article1, .article2, .article3, .article4 
                                                                        {   display: block;
                                                                            justify-content: center;
                                                                            margin-top: 5px;}}